<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QuanLyVatLieuXayDung" connectionString="Data Source=DESKTOP-43U7GJ9\SQLEXPRESS;Initial Catalog=QuanLyVatLieuXayDung;Integrated Security=True;Trust Server Certificate=True"/>
	</connectionStrings>

</configuration>